/* @font-face {
    font-family: 'Gotham5r';
    src: local('Gotham5r'),
         url('../../public/assets/fonts/GothamBold.ttf') format('woff');
}
@font-face {
    font-family: 'Gotham4r';
    src: local('Gotham4r'),
         url('../../public/assets/fonts/GothamMedium.ttf') format('woff'),
}
@font-face {
    font-family: 'Gotham3r';
    src: local('Gotham3r'),
         url('../../public/assets/fonts/GothamLight.ttf') format('woff'),
} */