body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Gotham5r';
  src: local('Gotham5r'),
       url('./Fonts/GothamBold.ttf') ;
}
@font-face {
  font-family: 'Gotham4r';
  src: local('Gotham4r'),
       url('./Fonts/GothamMedium.ttf') ,
}
@font-face {
  font-family: 'Gotham3r';
  src: local('Gotham3r'),
       url('./Fonts/GothamLight.ttf') ,
}
a{
  text-decoration: none;
}